body {
    background-color: coral;
}

.submitForm {
    background-color: antiquewhite
}

.submitFormData {
    padding: 10px;
    margin: 10px
}

td, th {
    padding: 10px
}

table {
    background-color: aqua
}
